<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuKjlA7nDYocpwIfCLqlcnNjQ2fQfDYak</string>
	<key>GCM_SENDER_ID</key>
	<string>630739948600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>socketioflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>socketioflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630739948600:ios:603d2695598bcd0d0742cd</string>
</dict>
</plist>